 /* .hp-adv-img1 {
    height:600px;
 }
 .hp-adv-img2 {
    height:550px;
 } 
 .hp-adv-img3 {
    height:500px;
 }
 @media screen and (max-width:1500px) {
    .hp-adv-img1 {
        height:525px;
     }
     .hp-adv-img2 {
        height:475px;
     }
     .hp-adv-img3 {
        height:425px;
     }  
 }
 @media screen and (max-width:1450px) {
   .hp-adv-img1 {
       height:500px;
    }
    .hp-adv-img2 {
       height:450px;
    }
    .hp-adv-img3 {
       height:400px;
    }  
}
 @media screen and (max-width:1300px) {
    .hp-adv-img1 {
        height:430px;
     }
     .hp-adv-img2 {
        height:400px;
     }
     .hp-adv-img3 {
        height:350px;
     }  
 }
 @media screen and (max-width:1100px) {
   .hp-adv-img1 {
       height:375px;
    }
    .hp-adv-img2 {
       height:350px;
    }
    .hp-adv-img3 {
       height:325px;
    }  
} */
.adv-text{
font-size: 1.5rem;
}
.adv-btn {
   font-size: 1.2rem;
   background-color: black;
   color:white;
   padding:.7rem 1rem;
   border-radius: 8px;
   border:none;
}
.adv-btn:hover {
   .adv-btn {
      font-size: 1rem;
      background-color: black;
      color:white;
      padding:.5rem .8rem;
      border-radius: 8px;
      border:none;
   }  
}
@media screen and (max-width:992px) {
   .adv-text{
      font-size: 1.3rem;
      }
      .adv-btn {
         font-size: 1rem;
         background-color: black;
         color:white;
         padding:.8rem 1rem;
         border-radius: 8px;
         border:none;
      }
      
}

@media screen and (max-width:700px) {
   .adv-text{
      font-size: .8rem;
      }
      .adv-btn {
         font-size: .6rem;
         background-color: black;
         color:white;
         padding:.5rem .5rem;
         border-radius: 8px;
         border:none;
      }
      .adv-off {
         font-size:.6rem;
      }
      
}

@media screen and (max-width:500px) {
   .adv-text{
      font-size: .6rem;
      }
      .adv-btn {
         font-size: .5rem;
         background-color: black;
         color:white;
         padding:.6rem .7rem;
         border-radius: 8px;
         border:none;
      }
      .adv-off {
         margin-top: 0;
         margin-bottom: 0.3rem;
         font-size:.6rem;
      }
      
}