/* .hp-trend-img {
    height: 550px;
    width: 450px;
}

.hp-trend-div {
    width: 450px;
}

@media screen and (max-width:1500px) {
    .hp-trend-img {
        height: 500px;
        width: 400px;
    }

    .hp-trend-div {
        width: 400px;
    }
}

@media screen and (max-width:1300px) {
    .hp-trend-img {
        height: 400px;
        width: 350px;
    }

    .hp-trend-div {
        width: 350px;
    }
}

@media screen and (max-width:1150px) {
    .hp-trend-img {
        height: 380px;
        width: 280px;
    }

    .hp-trend-div {
        width: 280px;
    }
}

.hp-trend-default {
    height: 600px;
}

@media screen and (max-width:1500px) {
    .hp-trend-default {
        height: 475px;
    }
}

@media screen and (max-width:1200px) {
    .hp-trend-default {
        height: 425px;
    }
} */


.hp-trend-default-h2 {
    margin-bottom: 0;
    margin-top:.5rem;
    color: grey;
    font-size: 1.5rem;
}

.hp-trend-default-h1 {
  
    font-size: 2.5rem;
    margin-bottom: 0;
    margin-top:0rem;
   
}

.hp-trend-default-p1 {
    margin-top: 0.5rem;
    margin-bottom:.5rem;
    font-size: 1.5rem;
}
.viewall-btn{
    padding: 1rem 2rem;
    

    font-weight: bold;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    /* margin-bottom: 1rem; */
    background-color: black;
    color: white; 

}
.viewall-btn:hover {
    background-color: rgb(218, 210, 214);
    transition: all .2s linear;
    color: black;
}
@media screen and (max-width:1500px) {
    .hp-trend-default-h1 {
        font-size: 2rem;
        width: 80%;
    }
    .hp-trend-default-p1 {
        margin-top: 0.5rem;
        margin-bottom:.5rem;
        font-size: 1.2rem;
    }
}

@media screen and (max-width:1200px) {
    .hp-trend-default-h2 {
       
        color: grey;
        font-size: 1.2rem;
    }

    .hp-trend-default-h1 {
        font-size: 1.5rem;
    }
    .hp-trend-default-p1 {
        margin-top: 0.5rem;
        margin-bottom:.5rem;
        font-size: 1.3rem;
    }
}
@media screen and (max-width:768px) {
    .hp-trend-default-h1 {
        font-size: 1.2rem;

    }
    .hp-trend-default-h2 {
       
        color: grey;
        font-size: 1rem;
    }
    .hp-trend-default-p1 {
        margin-top: 0.3rem;
        margin-bottom:.5rem;
    
    }
    .viewall-btn{
        padding: .7rem 1.5rem;
        
    
        font-weight: bold;
        font-size: .8rem;
        border-radius: 10px;
        border: none;
        /* margin-bottom: 1rem; */
        background-color: black;
        color: white;
    
    }
    .viewall-btn:hover {
        background-color: rgb(218, 210, 214);
        transition: all .2s linear;
        color: black;
    }
}

/* 
style={{ paddingLeft: "2rem", fontSize: "4rem", marginTop: "0", width: "400px" }}

style={{ padding: "0rem 0 0 2rem", fontSize: "2.5rem" }}

style={{ paddingTop: "5rem", paddingLeft: "2rem", fontSize: "2rem" }} */

.vbtn {
    padding: 1rem 2.5rem;
    align-self: center;
    margin-right: 4rem;

  
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    background-color: black;
    color: white;
}

.vbtn:hover {
    background-color: rgb(218, 210, 214);
    transition: all .3s linear;
    color: black;
}
