/* .wish-section {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,280px));
    grid-gap:2rem;
    margin-top:2rem;
    width:80%;
    margin:2rem auto;
    justify-content:space-around;
    text-align:center;
} */
.wish-section {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align:center;
    margin:.2rem auto;
    width:90%;
   
}

.wish-card {
    margin:2rem; 
    background:rgb(234, 230, 230);
    width:300px;
}
.wish-img-div { 
    height:400px;
}
@media screen and (max-width:1600px) {
    .wish-card {
        width:270px;
    }
    
    .wish-img-div {
        height:360px;
    }
}
@media screen and (max-width:1500px) {
    .wish-card {
        width:250px;
    }
    
    .wish-img-div {
        height:340px;
    }
}
@media screen and (max-width:1250px) {
    .wish-card {
        width:230px;
    }
    
    .wish-img-div {
        height:310px;
    }
}

.wish-btn {
    padding:.9rem 1.5rem;
    align-self: center;
    width:60%;
    margin:.5rem auto 1.2rem auto;
    font-size:.8rem;
    border-radius:10px;
    border:none;
    background-color:black;
    color:white;
}
.wish-btn:hover{
    background-color:rgb(218, 210, 214) ;
    transition: all .3s linear;
    color:black;
    
}

.wish-title{
    font-size:1.5rem;
}
.wish-add-all{
    height:40px;
    align-self: center;
    background:transparent;
    border:1px solid grey;
    font-size: 1.2rem;
    padding:.4rem .8rem;
}